@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.75)),
url("gymbg1.jpg");

background-size:cover;

background-position:center;

}

.container{

width:100%;

display:flex;

justify-content:center;

align-items:center;

}

.form-box{

width:420px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(15px);

padding:40px;

border-radius:20px;

border:1px solid rgba(255,255,255,.2);

box-shadow:0 15px 35px rgba(0,0,0,.5);

}

.form-box h1{

text-align:center;

color:#ff3b3b;

margin-bottom:10px;

font-size:35px;

}

.form-box h2{

text-align:center;

color:white;

margin-bottom:30px;

}

input,
select{

width:100%;

padding:15px;

margin-bottom:18px;

border:none;

outline:none;

border-radius:10px;

background:rgba(255,255,255,.15);

color:white;

font-size:15px;

}

input::placeholder{

color:#ddd;

}

select{

color:white;

}

option{

color:black;

}

button{

width:100%;

padding:15px;

background:#ff3b3b;

border:none;

border-radius:10px;

font-size:18px;

font-weight:600;

cursor:pointer;

transition:.4s;

color:white;

}

button:hover{

background:white;

color:#ff3b3b;

transform:scale(1.03);

}

p{

margin-top:20px;

text-align:center;

color:white;

}

a{

color:#ff3b3b;

font-weight:600;

text-decoration:none;

}

a:hover{

text-decoration:underline;

}

@media(max-width:500px){

.form-box{

width:90%;

padding:30px 20px;

}

}