<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Register</title>

<link rel="stylesheet" href="auth.css">

</head>

<body>

<div class="container">

<div class="form-box">

<h1>FITZONE GYM</h1>

<h2>Create Account</h2>

<!-- <form action="/register" method="post"> -->
<form th:action="@{/register}" th:object="${member}" method="post">  

<input type="text" name="name" placeholder="Full Name" required>
<span style="color:red"
th:errors="*{name}">
</span>

<input type="email" name="email" placeholder="Email" required>
<span
style="color:red"
th:text="${emailError}">
</span>

<span style="color:red"
th:errors="*{email}">
</span>

<input type="text" name="phone" placeholder="Phone Number" required>
<span style="color:red"
th:errors="*{phone}">
</span>

<select name="gender">

<option>Male</option>
<option>Female</option>
<option>Other</option>

</select>

<input type="number" name="age" placeholder="Age">

<select name="membership">

<option>Basic</option>
<option>Premium</option>
<option>Elite</option>

</select>

<input type="password" name="password" placeholder="Password">
<span style="color:red"
th:errors="*{password}">
</span>

<button type="submit">

Register

</button>

</form>

<p>

Already have an account?

<a href="/login">

Login

</a>

</p>

</div>

</div>

</body>

</html>